<div class="w-75 mx-auto">
    <p class="fs-1">Ro'yxatdan o'tish</p>
    {{#if registerError}}
     <p>Error</p>
    {{/if}}
    <form action='/register' method="post">
        <div class="d-flex gap-3">
            <div class="form-floating mb-3 w-50">
                <input type="text" class="form-control" id="floatingFirstName" name="firstname" placeholder="First Name">
                <label for="floatingFirstName">First Name</label>
            </div>
            <div class="form-floating mb-3 w-50">
                <input type="text" class="form-control" id="floatingLastName" name="lastname" placeholder="Last Name">
                <label for="floatingLastName">Last Name</label>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com">
            <label for="floatingEmail">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
    <div id="error-message" class="text-danger mt-3"></div>
</div>
