<html lang="en">
{{> head}}
<body>

    {{!-- navbar --}}
    {{> navbar}}


    <div class="container">
          {{{body}}}
          {{!-- {{> login}}
          {{> register}}
          {{> mahsulot}}
          {{> yangimahsulot}} --}}
    </div>
    
    {{> script}}
</body>
</html>